<div class="post">
  <h1>{{blogpost.title}}</h1>
  <h3>{{blogpost.author}}, {{blogpost.date}}</h3>
  <p>{{blogpost.article}}</p>
</div>

<div class="post">
  <h3>Post a Comment or Reply</h3>
  {{comment-post comment=comment saveComment2='saveComment3' blogpost=model }}
  <br>
    {{#each blogpost.comments as |comment|}}
      {{comment-tile}}
    {{/each}}
</div>
